@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import './layout.css';

.Header {
    position: relative;
    width: 100%;
    padding: 30px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.HeaderGroup a {
    color: #999999;
    font-size: 18px;
    line-height: 28px;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    transition: color 0.5s ease 0s;
    font-weight: 400;
}

.HeaderGroup a:hover {
    color: #333333;
    transition: color 0.5s ease 0s;
}


.portfolio {
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    width: 100%;
}

.Christie {
    text-align: center;
    font-size: 37px;
    font-family: 'Open Sans';
    letter-spacing: 10px;
}

.HeaderScrolled {
    background: white;
    height: 60px;
    align-content: right;
    position: fixed;
    padding: 0 30px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

.HeaderScrolled .MasterWrapper {
    display: flex;
    height: 100%;
}

.HeaderScrolled .Christie {
    margin: auto 0;
    font-size: 16px;
    letter-spacing: 5px;
}

.HeaderScrolled .HeaderGroup {  
    width: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto 0 auto auto;
}

.HeaderScrolled .portfolio {
    border-right: none;
    border-left: none;
}
